.login-signup-outer {
    width: 100%;
    background-color: white;
    color:black;
    height: 100vh; /*change to match height of forms?*/
    display: flex;
    justify-content: center;
}

.login-signup-container {
    width: 80%;
    border: solid 1px red;
}

.login-header {
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.login-and-signup-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.returning-cust,
.new-cust {
    font-weight: normal;
    font-size: 16px;
}

.vertical-separator-container {
    display: flex;
    align-items: center;
    margin-left: 19px;
    margin-right: 20px;
}

.vertical-separator {
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 25px;

}

.vertical-line {
    width: 1px;
    background-color: rgb(189, 189, 189);
    height: 250px;
    position: absolute;
    top: 200px;
    left: 50%;
}

.password-container,
.email-container {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.email-label,
.password-label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
}

