.cart-outer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 100vh;
    color:black;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.cart-and-cart-contents-left {
    border:solid 1px blue;
    width: 60%;
}

.cart-header {
    display: flex;
}

.full-cart-table {
    border:solid 1px green;
}

.cart-checkout {
    border:solid 1px red;
    width: 38%;
}
