.outer-most {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #06a7e2;
    width: 100%;
    height: 60px;
    background-color: black;
    padding-bottom: 10px;
}

.outer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.Flying-Fox-logo {
    width: 110px;
    height: 90px;
    position: relative;
    top: 7.5px;
    z-index: 5000;
}

.nav-bar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-left: 20px;
}

.suits-parachutes-dropdown-text {
    cursor: pointer;
}

.dev,
.suits-parachutes-dropdown-text {
    font-weight: 400;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 20px;
}

.dev {
    text-decoration: none;
    color: white;
}

.dropdown-suits-parachutes {
    position: static;
    display: inline-block;
}

.suits-parachutes-content {
    display: none;
    position: absolute;
    left: 0;
    /* top: 70px; */
    width: 100%;
    background-color: black;
    z-index: 1;
    height: max-content;
}

.login-link:hover,
.dev:hover,
.suits-parachutes-dropdown-text:hover {
    color: #06a7e2;
}

.dropdown-suits-parachutes:hover .suits-parachutes-content {
    display: block;
    z-index: 1000;
    padding-top: 19px;
    border-bottom: #06a7e2 1px solid;
}

.dropdown-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    border-top: rgb(33, 33, 33) solid 1px;
    margin-bottom: 20px;
}

.Navbar-title {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 5px;
}

.parachutes-category {
    margin-top: 15px;
}

.navbar-item-links {
    text-decoration: none;
    color: white;
    display: flex;
    width: fit-content;
}

.meet-the-dev {
    text-decoration: none;
}

.navbar-item-links:hover,
.meet-the-dev:hover {
    color: #428BCA;
}

.session-links-user,
.session-links-no-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}

.orders-link,
.logout-link,
.login-link {
    font-size: 12px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.orders-link-container {
    width: 80px;
}

.orders-link-container,
.logout-user {
    display: flex;
    align-items: center;
}

.shopping-cart {
    margin-left: 10px;
}

.shopping-cart-link {
    text-decoration: none;
    color: #06a7e2;
}
