#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

#modal-content {
    position: absolute;
    background-color: black;
    height: fit-content;
    width: 800px;
    border: 2px solid white;
    border-radius: 10px;
}

.developer-photo {
    border: #06a7e2 solid 1px;
    width: 262.5px;
    height: 262.5px;
}

.name-modal-link {
    display: flex;
}

.modal-container-dev {
    display: flex;
    flex-direction: row;
}

.modal-image-container {
    height: 200px;
    width: 200px;
    margin: 10px;
}

.modal-developer-photo {
    height: 200px;
    width: 200px;
}

.modal-dev-name {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #06a7e2;
}

.modal-dev-role {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.developer-modal-link {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border: 0;
    cursor: pointer;
    color: #06a7e2;
    background-color: transparent;
}

.developer-modal-link:hover {
    color: white;
}
