.Home-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.display-carousel {
    width: 100%;
    max-height: 465px;
}

.home-image-gallery {
    max-width: 100%;
    max-height: 465px;
}

.components-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.main-components {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.separator-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.separator {
    width: 300px;
    margin-bottom: 40px;
    margin-top: 10px;
    background-color: #06a7e2;
    height: 1px;
    z-index: -1;
}

.news-and-ads{
    display: flex;
    flex-direction: row;
    height: 940px;
}

.news-container-left {
    width: 50%;
    height: 940px;
}

.news-heading {
    font-size: 30px;
}

.ads-container-right {
    width: 50%;
    height: 940px;
}

.ads-for-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
}

.ad-item-link {
    text-decoration: none;
}

.ad-container,
.ad-image {
    height: 222px;
    width: 267px;
}

.ad-container {
    margin-right: 40px;
    margin-top: 40px;
}

.ad-item-name {
    color: #06a7e2;
    font-size: 26px;
}
