.orders-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.orders-header {
    display: flex;
    width: 80%;
    justify-content: left;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.orders-container {
    display: flex;
    justify-content: center;
    width: 60%;
}

.empty-orders {
    font-size: 26px;
    margin-top: 40px;
}

.full-orders-table {
    width: 100%;
}

.table-header-order,
.table-header-item-summary,
.table-header-status,
.order-status,
.order-item-summary,
.order-number {
    text-align: left;
}

.order-item-summary,
.order-number {
    padding-left: 10px;
}

.order-edit-shipping,
.review-text,
.order-details-link {
    text-decoration: none;
    color: #06a7e2;
    font-weight: 600;
}

.id-order-outer {
    width: 80%;
}

.id-order-header {
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.id-order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.id-order-item-review,
.id-order-item-qty {
    text-align: center;
}

.id-order-total-price,
.id-order-item-total {
    text-align: right;
}

.id-order-total,
.id-order-total-price,
.id-order-item-total {
    font-weight: 600;
}

.order-shipping-info-container {
    margin-left: 5%;
}

.order-shipping-header,
.order-shipping-info-name,
.order-shipping-info-address,
.order-shipping-info-city,
.order-shipping-info-state,
.order-shipping-info-zipcode {
    font-size: 16px;
    margin-bottom: 10px;
}

.order-shipping-header {
    font-weight: 600;
    font-size: 20px;
}
