/* News articles */
.individual-outer,
.Newspage-outer {
    color: black;
    width: 100%;
}

.banner-header-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 12px;
}

.banner-header {
    color: white;
    width: 80%;
}

.banner-header-link {
    text-decoration: none;
    color: #06a7e2;
}

.banner-header-link:hover {
    color: white;
}

.spanright {
    color: #06a7e2;
}

.news-header {
    position: relative;
    left: 10%;
    font-size: 36px;
    margin-top: 30px;
    width: 80%;
}

.news-body-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.news-body-outer {
    width: 80%;
    display: flex;
    justify-content: center;
}

.news-search-archive-latest-container {
    display: flex;
    width: 100%;
}

.news-search-archive-column {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.individual-news-column,
.latest-news-column {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
}

.latest-news-header {
    font-size: 26px;
    margin-bottom: 20px;
}

.news-articles-outer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.news-articles-container {
    max-width: 428px;
    margin-bottom: 40px;
    margin-right: 47px;
    position: relative;
}

.next-article-container .next-article-link-overlay,
.previous-article-container .previous-article-link-overlay,
.news-articles-container .news-article-link {
    background-color: rgba(6, 167, 226, 0.5);
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    display: none;
}

.next-article-container:hover .next-article-link-overlay,
.previous-article-container:hover .previous-article-link-overlay,
.news-articles-container:hover .news-article-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-article-link-container {
    padding: 5px;
}


.next-article-link-overlay,
.previous-article-link-overlay,
.news-article-link {
    text-decoration: none;
}

.news-article-link-text {
    border:#06A7E2 solid 1px;
    display: flex;
    width: fit-content;
    align-items: center;
}

.news-article-picture {
    max-width: 414px;
    max-height: 414px;
    margin-bottom: 10px;
}

.news-article-date {
    font-size: 12px;
}

.news-article-title {
    color: #06A7E2;
    margin-top: 4px;
    margin-bottom: 13px;
}

.news-article-content {
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-width: 414px;
    max-height: 414px;
}

/* Individual Articles */
.individual-outer {
    color: black;
}

.individual-article-date {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.individual-article-title {
    color: #06A7E2;
    font-size: 26px;
    margin-bottom: 20px;
}

.individual-article-image {
    margin-bottom: 20px;
}

.individual-article-img {
    max-width: 100%;
}

.individual-article-article {
    font-size: 20px;
    font-weight: 200;
}

/* previous and next article */
.previous-next-article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.next-article-container,
.previous-article-container {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    position: relative;
    margin-top: 5px;
}

.next-article-link,
.previous-article-link {
    color: #06A7E2;
    text-decoration: none;
    font-size: 26px;
}

.next-article-image,
.previous-article-image {
    max-width: 260px;
    margin-bottom: 10px;
}

.next-article-date,
.previous-article-date {
    color: #06A7E2;
    font-size: 12px;
}

.next-article-title,
.previous-article-title {
    color: #06A7E2;
    font-size: 20px;
}
