.Newspage-outer {
    color: black;
    width: 100%;
}

.banner-header-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 12px;
}

.banner-header {
    color: white;
    width: 80%;
}

.banner-header-link {
    text-decoration: none;
    color: #06a7e2;
}

.banner-header-link:hover {
    color: white;
}

.spanright {
    color: #06a7e2;
}

.news-header {
    position: relative;
    left: 10%;
    font-size: 36px;
    margin-top: 30px;
}

.news-body-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.news-body-outer {
    width: 80%;
    display: flex;
    justify-content: center;
}

.news-search-archive-latest-container {
    display: flex;

}

.news-search-archive-column {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.latest-news-column {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
}

.latest-news-header {
    font-size: 26px;
    margin-bottom: 20px;
}

.news-articles-outer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.news-articles-container {
    max-width: 428px;
    margin-bottom: 40px;
    margin-right: 47px;
    position: relative;
}

.news-articles-container .news-article-link {
    background-color: rgba(6, 167, 226, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.news-articles-container:hover .news-article-link {
    display: block;
}

.news-article-link-container {
    padding: 5px;
    height: 100%;
}

.news-article-link {
    text-decoration: none;

}

.news-article-link-text {
    border:#06A7E2 solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news-article-picture {
    max-width: 414px;
    max-height: 414px;
    margin-bottom: 10px;
}

.news-article-date {
    font-size: 12px;
}

.news-article-title {
    color: #06A7E2;
    margin-top: 4px;
    margin-bottom: 13px;
}

.news-article-content {
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-width: 414px;
    max-height: 414px;
}
