.Newspage-outer {
    color: black;
    width: 100%;
}

.banner-header-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 12px;
}

.banner-header {
    color: white;
    width:80%;
}

.banner-header-link {
    text-decoration: none;
    color: #06a7e2;
}

.banner-header-link:hover {
    color: white;
}

.spanright {
    color: #06a7e2;
}

.news-body-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.news-body-outer {
    width: 80%;
    display: flex;
    justify-content: center;
}

.news-search-archive-latest-container {
    display: flex;

}

.news-search-archive-column {
    display: flex;
    flex-direction: column;
    /* width: %; */
    border: solid 1px red;
}
